<div class="imageOverlay"
     ng-click="vm.closeFullScreenMode()"></div>
<div class="fullScreenMode">
    <div class="fullScreenMode__figure"
         ng-swipe-right="vm.prev()"
         ng-swipe-left="vm.next()"
         ng-repeat="img in ::vm.images track by $index"
         ng-class="{'is-active' : vm.currentImage == $index, 'is-prev' : vm.prevImage == $index, 'is-next' : vm.nextImage == $index, 'backward' : vm.back, 'no-move' : vm.noMove}">
        <div class="fullScreenMode__figure__container">
            <img class="fullScreenMode__figure__container__img"
                 ng-src="{{img.src}}">
        </div>
        <div class="fullScreenMode__figure__figcaption">
            <h3 id='fullScreenOpis'
                ng-bind="img.copy"></h3>
            <p id='fullScreenMore'
               ng-bind="img.description"></p>
            <p id='fullScreenAuthor'
               ng-bind="img.author"></p>
        </div>

    </div>
    <div class="fullScreenMode__close"
         ng-click="vm.closeFullScreenMode()"></div>
    <span class='prevnext prev'
          ng-click="vm.prev()"></span>
    <span class='prevnext next'
          ng-click="vm.next()"></span>
</div>