<div class="fullScreenMode">
    <figure class="up" ng-swipe-right="vm.next()" ng-swipe-left="vm.prev()" ng-repeat="img in ::vm.images track by $index" ng-if="vm.currentImage == $index">
        <img id='fullScreenImage' ng-src="{{img.src}}"ng-swipe-right="vm.next()" ng-swipe-left="vm.prev()">
        <figcaption id='fullScreenFigcaption'>
            <h3 id='fullScreenOpis' ng-bind="img.copy"></h3>
            <p id='fullScreenMore' ng-bind="img.description"></p>
            <p id='fullScreenAuthor' ng-bind="img.author"></p>
        </figcaption>
        <span class='prevnext prev' ng-click="vm.prev()"><img src='../images/strzalka_050.png'></span>
        <span class='prevnext next' ng-click="vm.next()"><img src='../images/strzalka_050.png'></span>
    </figure>
</div>