<main class="photos">
    <h2>Galeria</h2>
    <ul class="listOfCategories" id="listOfCategories">
        <li class="categories" data-category="wyzyna">krainy geograficzne</li>
        <li class="categories" data-category="mineralySkaly">minerały i skały</li>
        <li class="categories" data-category="dziedzictwo">dziedzictwo poprzemysłowe</li>
        <li class="categories" data-category="sciezki">scieżki tematyczne</li>
        <li class="categories" data-category="wydarzenia">wydarzenia</li>
        <li class="categories markedCategory" data-category="all">wszystkie</li>
    </ul>
    <a class="figuryUp" ng-href="{{gallery.hyperlink}}" ng-attr-data-category="{{gallery.category}}" ng-repeat="gallery in vm.galleries"><figure>
        <img  ng-src="{{gallery.image}}" ng-attr-alt="{{gallery.title}}">
        <figcaption ng-bind="gallery.title"></figcaption>
    </figure></a>
</main>