<main class="photos">
    <h2>Galeria</h2>
    <ul class="listOfCategories" id="listOfCategories">
        <li class="categories" ng-repeat="category in vm.categories track by $index" ng-bind="category.categoryText" ng-class="{'markedCategory' : vm.selectedCategory == category.category}" ng-click="vm.changeCategory(category.category)"></li>
    </ul>
    <a class="gallery" ng-href="galeria/{{gallery.id}}" image-loaded ng-attr-data-category="{{gallery.category}}" ng-repeat="gallery in vm.galleries" ng-show="vm.selectedCategory == 'all' || vm.selectedCategory == gallery.category"><figure>
        <img  ng-src="{{gallery.image}}" ng-attr-alt="{{gallery.title}}">
        <figcaption ng-bind="gallery.title"></figcaption>
    </figure></a>
</main>