<section class="homepage-banner"
         ng-style="{'height' : $root.isS ? vm.bannerHeight : '100vh'}">
    <h2 class="homepage-banner__heading"
        du-smooth-scroll="map">Atrakcje geoturystyczne
            <p class="homepage-banner__heading__mobile">patrz także GeoŚląsk</p>
    </h2>
    <div class="info info--top">
        <div class="info__figure">
            <img class="info__figure__image" src="images/pin.png">
        </div>
        <div class="info__text">
            <p class="info__text__paragraph">Muzeum Śląskie na terenie dawnej KWK Katowice</p>
            <p class="info__text__paragraph">Silesian Museum (former Katowice Coal Mine)</p>
        </div>
    </div>
    <div class="info info--bottom">
        <div class="info__figure">
            <img class="info__figure__image" src="images/info.png">
        </div>
        <div class="info__text">
            <p class="info__text__paragraph">Atrakcje geoturystyczne patrz także GeoŚląsk</p>
            <p class="info__text__paragraph">Geotourist attractions see also English</p>
        </div>
    </div>
</section>
<div class="map-section">
    <map markers="vm.markers"></map>
</div>