<main>
    <section class="news">
        <h2>Wydarzenia</h2>
        <article ng-repeat="new in vm.news" ng-class="{'border' : $first}" ng-attr-id="{{'news-' + $index}}">
            <div class="head" ng-click="vm.action($event)">
                <h3 ng-bind="new.header"></h3>
                <p class="dateAndPlace" ng-bind="new.dateAndPlace"></p>
            </div>
            <div class="body" ng-class="{'dol' : $first}">
                <p ng-repeat="para in new.paragraphs" ng-bind="para">
                </p>
                <p ng-if="new.hyperlink" ng-repeat="link in new.hyperlink" class="links">
                    <a href="{{link}}">Więcej</a>
                </p>
            </div>
        </article>
    </section>
</main>