<main>
    <section>
        <h2>Wydarzenia</h2>
        <article class="news"
                 ng-repeat="new in vm.news"
                 ng-init="vm.active = 0"
                 ng-class="{'news--active' : vm.active === $index}">
            <div class="news__head"
                 ng-click="vm.active === $index ? vm.active = ' ' : vm.active = $index">
                <h3 class="news__head__title"
                    ng-bind="new.header"></h3>
                <p class="news__head__date"
                   ng-bind="new.dateAndPlace"></p>
            </div>
            <div class="news__body"
                 ng-class="{'news__body--active' : vm.active === $index}">
                <p class="news__body__text"
                   ng-repeat="para in new.paragraphs"
                   ng-bind="para">
                </p>
                <p ng-if="new.hyperlink"
                   ng-repeat="link in new.hyperlink"
                   class="news__body__links">
                    <a class="news__body__links__item"
                       href="{{link}}">Więcej</a>
                </p>
            </div>
        </article>
    </section>
</main>