<div class="add-field-container">
    <div class="add-field-container__left">
        <div class="add-field__remove">
        <span class="button"
              ng-click="vm.remove()">Usuń</span>
        </div>
    </div>
    <div class="add-field-container__right">
        <div class="add-field">
            <div class="input input--inline">
                <label for="fieldTitle">Tytuł:</label>
                <input id="fieldTitle" type="text" ng-model="vm.fieldModel.title">
            </div>

            <div class="input input--inline">
                <label for="fieldId">Id:</label>
                <input id="fieldId" type="text" ng-model="vm.fieldModel.id">
            </div>

            <div class="add-field__type">
                <span>Wybierz typ:</span>
                <span ng-bind="vm.currentFieldTypeName"></span>

                <div class="add-field__type__all">
                    <span ng-repeat="field in ::vm.fields track by field.type"
                          ng-bind="field.name"
                          ng-click="vm.setFieldType(field.type, field.name)"
                          class="add-field__type__all__item"></span>
                </div>
            </div>
            <div class="input input--inline add-field__type__select"
                 ng-if="vm.fieldModel.type === 'select'">
                <label for="selectOptions">Opcje:</label>
                <input id="selectOptions" type="text" ng-model="vm.fieldModel.selectOptions">
            </div>

            <div class="input input--inline add-field__type__select"
                 ng-show="vm.fieldModel.type === 'repeater'">
                <div class="repeaterFields">

                </div>
                <div class="custom-post-types__container--top-padding">
                    <div class="custom-post-types__container__left"></div>
                    <div class="custom-post-types__container__right">
                <span class="button"
                      ng-click="vm.addRepeaterField()">Dodaj nowe pole</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>