<div class="header">
    <h1 class="header__heading">
        <a class="block"
           href="/">Frodo</a>
    </h1>
    <p class="header__website-address">Odwiedź stronę:&nbsp;<a target="_blank" href="{{vm.websiteAddress}}" ng-bind="vm.websiteAddress"></a></p>
    <div class="header__links">
        <p class="header__links__item">
            <a class="block"
               ng-href="/pages">Strony</a>
        </p>
        <p class="header__links__item">
            <a class="block"
               ng-href="/components">Komponenty</a>
        </p>
        <p class="header__links__item"
           ng-repeat="type in vm.customPostTypes track by type._id">
            <a class="block"
               ng-bind="type.pluralTitle"
               ng-href="{{'/custom-posts/' + type.type}}"></a>
        </p>
        <p class="header__links__item">
            <a class="block"
               ng-href="/custom-post-types">Typy postów</a>
        </p>
    </div>
</div>