.idea/
frodo/front/node_modules/
frodo/front/package-lock.json
frodo/front/public/
frodo/node_modules/
frodo/package-lock.json
frodo/uploads/*
front/node_modules/
front/public/.htaccess
front/public/css
front/public/html
front/public/js
front/public/index.html
front/public/images
front/package-lock.json
node_modules/
package-lock.json
config.json