.idea/
.DS_Store
front/node_modules/
front/dist/
front/.angular/
# Poprzedni front (AngularJS) zachowany do wglądu – śledzone są same źródła,
# nie zależności gulpa ani jego wynik buildu.
front-old/node_modules/
front-old/public/
front-old/package-lock.json
node_modules/
package-lock.json
config.json
tmp/
uploads/
