<div class="custom-post-types">
    <h2 class="custom-post-types__heading">Dodaj nowy typ postów</h2>

    <div class="custom-post-types__container--top-padding">
        <div class="custom-post-types__container__left">
            <span class="button"
                  ng-class="{'busy' : vm.saveStatus.busy}"
                  ng-click="vm.save()">Zapisz</span>
            <p class="custom-post-types__result" ng-bind="vm.result"
               ng-if="vm.result"></p>
        </div>
        <div class="custom-post-types__container__right">
            <div class="input">
                <label for="title">Tytuł:</label>
                <input id="title" ng-model="vm.data.title" required type="text">
            </div>

            <div class="input">
                <label for="type">Typ:</label>
                <input id="type" ng-model="vm.data.type" required type="text">
            </div>



        </div>
    </div>
    <div id="postFields">
    </div>
    <div class="custom-post-types__container">
        <div class="custom-post-types__container__left"></div>
        <div class="custom-post-types__container__right">
                <span class="button"
                      ng-click="vm.addField()">Dodaj nowe pole</span>
        </div>
    </div>

</div>