.fullScreenMode {
  position: fixed;
  top: 15%;
  background-color: white;
  bottom: 15%;
  right: 20%;
  left: 20%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  box-shadow: grey 0 0 15px 5px;
  &__close  {
    position: absolute;
    right: .625rem;
    top: .625rem;
    background-color: transparent;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    z-index: 10;
    box-sizing: border-box;
    line-height: 1.5rem;
    display: inline-block;
    cursor: pointer;
    &:before,
    &:after {
      width: 1.5rem;
      height: .3rem;
      transform: rotate(-45deg);
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -.15rem;
      margin-left: -.75rem;
      display: block;
      background-color: $header-color;
      transition: all 0.2s ease-out;
    }
    &:after {
      transform: rotate(45deg);
    }
    &:hover {
      &:before,
      &:after {
        transform: rotate(0deg);
        background-color: $color3;
      }
    }
  }

  &__figure  {
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    position: relative;
    justify-content: center;

    &__container {
      width: 70%;
      max-height: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }


    &__figcaption  {
      padding: 0 .5rem;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include landscapePhone {
        display: none;
      }
      @include mq-not-mobile  {
        display: flex;
      }
      @include laptops  {
      }
      h3,
      p,
      a   {
        text-align: center;
        color: $text-color;
        font-family: $text-font;
        font-size: 0.9rem;
        line-height: 1rem;
      }
      h3  {
        margin-top: .625rem;
        @include laptops  {
          font-size: 1.125rem;
        }
      }
    }
  }
}



.blur {
  filter: blur(5px);
  transition: filter 0.2s ease-in-out;
}

.closedScroll {
  overflow: hidden;
  max-height: 100vh;
}


.prevnext {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border-top: .4rem solid $header-color;
  border-right: .4rem solid $header-color;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
  cursor: pointer;

  &.prev {
    left: 1rem;
    transform: translate3d(0,-50%,0) rotate(-135deg);
  }

  &.next {
    right: 1rem;
    transform: translate3d(0,-50%,0) rotate(45deg);
  }

  &:hover {
    border-top: .4rem solid $header-color;
    border-right: .4rem solid $header-color;
    box-shadow: .2rem -.2rem 0 lighten($header-color, 50%);

    &.prev {
      left: .8rem;
    }

    &.next {
      right: .8rem;
    }
  }
}

