.header  {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: $header-color;
  color: white;
  box-shadow: 0 3px 5px 1px darken($header-color, 20%);
  z-index: 5;
  transition: top 1s ease;
  @include laptop  {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &--hidden {
    transition: top 0.5s ease;
    top: -150px;
  }

  &__logo {
    text-align: center;
    font-family: $headers-font;
    margin: .5rem;
    text-decoration: none;
    display: block;
    &__heading {
      font-size: 3rem;
      @include laptop {
        font-size: 5rem;
      }
    }
  }

  .hamburger {
    cursor: pointer;
    position: absolute;
    top:1.875rem;
    right: 1.25rem;
    width: 1.5625rem;
    height: 1.125rem;
    &--expanded .hamburger__menu  {
      background-color: transparent;
    }
    &--expanded .hamburger__menu:after  {
      transform: rotate(45deg);
    }
    &--expanded .hamburger__menu:before  {
      transform: rotate(-45deg);
      top: 7px;
    }
    &__menu {
      height: 0.125rem;
      width: 1.5625rem;
      background-color: white;
      display: block;
      transition: all .2s ease-in-out;
      @include tablet  {
        display: none;
      }
      &:after {
        top: 0.4375rem;
      }
      &:before {
        top: 0.875rem;
      }
      &:after,
      &:before  {
        height: 0.125rem;
        width: 1.5625rem;
        background-color: white;
        position: absolute;
        display: block;
        content: "";
        transition: all .2s ease-in-out;
      }
    }
  }
}
