.search {
  height: 100%;
  width: 100%;
  display: flex;
  &__form {
    width: 30%;
  }
  &__container {
    width: 70%;
    height: 100%;
    &__map   {
      height: 100%;
      width: 100%;
      @include laptop  {
        height: 100%;
        width: 100%;
      }
      .marker-description  {
        text-align: center;
        font-size: .8rem;
        width: 12.5rem;
        &__text   {
          font-size: .8rem;
          margin: 0;
          padding: 0;
          &:first-of-type {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

