.button {
  color: white;
  display: inline-block;
  position: relative;
  border: none;
  background-color: map-get($colors-map, 2);
  transition: background-color .2s ease-in-out;
  padding: .5em;
  font-size: .9em;
  cursor: pointer;
  &:hover {
    @extend .bg-col-3;
    color: white;
  }

  &--active {
    @extend .bg-col-3;
  }

  &--inline {
    background-color: transparent;
    @extend .col-b;
    &:hover {
      background-color: transparent;
      color: lighten(map-get($colors-map, b), 20%);
    }
    &.busy {
      &:after,
      &:before {
        background-color: map-get($colors-map, 2) !important;
      }
    }

  }


}



