.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  &--inline {
    flex-direction: row;
    align-items: center;

    label {
      margin-bottom: 0 !important;
      padding-right: 1em;
      width: 10%;
    }

    input[type=text] {
      width: 90%;
    }

  }

  label {
    margin-bottom: .5em;
    cursor: pointer;
  }

  input[type=text] {
    padding: .5em;
    border: 1px solid $color1;
    background-color: $color4;
    transition: background-color .2s ease;
    &:focus {
      background-color: white;
    }

  }
}