.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  &__notice {
    display: none;
  }

  &--inline {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    &--button {
      justify-content: flex-start;
      align-items: center;

      label {
        width: 15%;
      }
    }

    label {
      margin-bottom: 0 !important;
    }

    input[type=text] {
      width: 85%;
    }

    select {
      width: 85%;
    }

    textarea {
      width: 85%;
    }



  }

  label {
    margin-bottom: .5em;
    cursor: pointer;
  }

  label.required {
    position: relative;
    &:after {
      content: " *";
      white-space: pre;
      font-size: .8em;
      color: red;
      position: absolute;
      top: 0;
    }
  }

  input[type=text] {
    padding: .5em;
    border: 1px solid map-get($colors-map, 2);
    @extend .bg-col-w;
    transition: background-color .2s ease;
    &:focus {
      background-color: white;
    }
  }

  select {
    padding: .5em;
    border: 1px solid map-get($colors-map, 2);
    @extend .bg-col-w;
    transition: background-color .2s ease;
    &:focus {
      background-color: white;
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
    padding: .5em;
    border: 1px solid map-get($colors-map, 2);
    @extend .bg-col-w;
    transition: background-color .2s ease;
    &:focus {
      background-color: white;
    }
  }

}

.input.invalid {
  position: relative;
  padding-bottom: .7em;
  .ng-invalid {
    border: 1px solid red !important;
    & + .input__notice {
      width: 100%;
      display: block;
      &:after {
        content: "To pole jest wymagane";
        position: absolute;
        left: 15%;
        font-size: .8em;
        color: red;
        top: 85%;
      }
    }
  }
}