* {
  @extend .col-b;
  @extend .font-1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  //height: auto;
  //overflow: auto !important;
}

.sidenav {
  width: 20%;
  .size-m & {
    width: 50%;
  }
}

.page {
  .size-l &,
  .size-x & {
    padding-left: 20%;

  }
}

.scroll {
  transform: scale(0);
  &.scrolled {
    transform: scale(1);
  }
}

p,span {
  white-space: normal;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

.transition {
  transition: all .5s ease;
}

.transition-2 {
  transition: all .2s ease;
}

::-webkit-scrollbar {
  width: .5rem;
  background-color: #ebebeb;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
}
::-webkit-scrollbar-thumb {
  background-color: lighten(map-get($colors-map, 1), 0%);
}

.busy {
  color: transparent;
  &:after,
  &:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  &:before {
    animation-delay: -1.0s;
  }
}

input,
select {
  @extend .font-1;
}

.field {
  @extend .p-a-2;
  @extend .bg-col-w;
  @extend .m-b-2;
  box-shadow: 0 0 8px 0.5px darkgray inset;

}

.box-shadow-inset {
  box-shadow: 0 0 8px 0.5px darkgray inset;
}

.repeater {
  box-shadow: 0 0 8px 0.5px darkgray inset !important;
  @extend .p-a-2;
  @extend .m-b-1;
  .repeater-title {
    @extend .m-t--2;
  }
  .field {
    @extend .p-r-0;
    @extend .p-l-0;
    margin-bottom: 0 !important;
    box-shadow: none;
  }

  .not-last > .field {
    border-bottom: 1px solid lightgray;
  }
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

ul {
  list-style: none;
}

.border-color {
  border-color: rgba(0,0,0,0.12);
}

.b-b {
  border-bottom: 1px solid map-get($colors-map, border);
}

.b-t {
  border-top: 1px solid map-get($colors-map, border);
}

.b-l {
  border-left: 1px solid map-get($colors-map, border);
}

.b-r {
  border-right: 1px solid map-get($colors-map, border);
}

.b-a {
  border: 1px solid map-get($colors-map, border);
}

.current-file {
  border: 5px solid map-get($colors-map, 1);
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.down {
  transform: scale(0);
}

.up {
  transform: scale(1) !important;
}

.slide-up {
  max-height: 1200px;
  transition: all .5s ease;
}

.slide-up.ng-hide {
  max-height: 0;
}

.fade {
  opacity: 1;
}

.fade.ng-hide {
  opacity: 0;
}



//.funky-show-hide.ng-hide-add {
//  transform: rotateZ(0);
//  transform-origin: right;
//  transition: all 0.5s ease-in-out;
//}
//
//.funky-show-hide.ng-hide-add.ng-hide-add-active {
//  transform: rotateZ(-135deg);
//}
//
//.funky-show-hide.ng-hide-remove {
//  transform: rotateY(90deg);
//  transform-origin: left;
//  transition: all 0.5s ease;
//}
//
//.funky-show-hide.ng-hide-remove.ng-hide-remove-active {
//  transform: rotateY(0);
//}