* {
  @extend .col-b;
  @extend .font-1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  //height: auto;
  //overflow: auto !important;
}

.sidenav {
  width: 20%;
  .size-m & {
    width: 50%;
  }
}

.page {
  .size-l &,
  .size-x & {
    padding-left: 20%;

  }
}

.scroll {
  transform: scale(0);
  &.scrolled {
    transform: scale(1);
  }
}

p,span {
  white-space: normal;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

.transition {
  transition: all .5s ease;
}

::-webkit-scrollbar {
  width: .5rem;
  background-color: #ebebeb;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
}
::-webkit-scrollbar-thumb {
  background-color: lighten(map-get($colors-map, 1), 0%);
}

.busy {
  color: transparent;
  &:after,
  &:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  &:before {
    animation-delay: -1.0s;
  }
}

input,
select {
  @extend .font-1;
}

.box-shadow-inset {
  box-shadow: 0 0 8px 0.5px darkgray inset;
}

.vh-100 {
  height: 100vh;
}