.md-button.busy {
  color: transparent !important;
}

md-autocomplete.fix {
  position: relative;
  md-autocomplete-wrap {
    position: absolute;
    top:0;
    right:0;
    left:0;
    md-input-container {
      position: relative;
      input {
        position: absolute;
        top:0;
      }
    }
  }
}

.menudemoBasicUsage .md-menu-demo {
  padding: 24px; }

.menudemoBasicUsage .menu-demo-container {
  min-height: 200px; }

//body {
//  position: relative !important;
//}