$header-color: #28293E;
$text-font: 'Open Sans', sans-serif;
$headers-font: 'Poiret One', cursive;
$text-color: #444;
$color0: #312682;
$color1: #28293E;
$color2: #44476A;
$color3: rgb(146,19,60);
$color4: #ebebeb;