<div>
    @switch (component().type) {
        @case ('h1') { <h1 [class]="component().class ?? ''">{{ component().text }}</h1> }
        @case ('h2') { <h2 [class]="component().class ?? ''">{{ component().text }}</h2> }
        @case ('h3') { <h3 [class]="component().class ?? ''">{{ component().text }}</h3> }
        @case ('h4') { <h4 [class]="component().class ?? ''">{{ component().text }}</h4> }
        @case ('h5') { <h5 [class]="component().class ?? ''">{{ component().text }}</h5> }
        @case ('h6') { <h6 [class]="component().class ?? ''">{{ component().text }}</h6> }
    }
</div>
