.gallery {
    padding-bottom: 0.625rem;
    width: 100%;
    @include landscape {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .figury-up {
        transform: scale(1);
    }
    &__description {
        width: 100%;
    }
    &__figure {
        cursor: pointer;
        position: relative;
        margin: 1.25rem 0.625rem;
        overflow: hidden;
        padding: 0.3125rem;
        box-shadow: 0 0 3px 3px darken(white, 20%);
        background-color: darken(white, 5%);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        @include landscape {
            width: 40%;
        }
        @include tablet {
            margin: 0.625rem;
            width: 28%;
            background-color: darken(white, 5%);
            box-shadow: 0 0 4px 4px darken(white, 20%);
        }
        @include laptop {
            width: 22%;
            &:hover .gallery__figure__text {
                opacity: 0.9;
            }
            &:hover .gallery__figure__image {
                transform: scale(1.4);
            }
        }
        &__image {
            width: 100%;
            transition: all 0.2s ease-in-out;
        }
        &__text {
            position: absolute;
            color: white;
            background-color: rgba(lighten($header-color, 10%), 0.9);
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            font-family: $headers-font;
            transition: all 0.3s ease-in-out;
            margin: 0;
            padding: 0.625rem 0.3125rem;
            font-size: 1rem;
            line-height: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            @include tablet {
                font-size: 0.8rem;
                min-height: 3.5rem;
            }
            @include laptop {
                font-size: 1rem;
            }
            @include laptop {
                opacity: 0;
            }
        }
    }
}
