.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $header-color;
    color: white;
    box-shadow: 0 3px 5px 1px darken($header-color, 20%);
    z-index: 10;
    transition: top 0.5s ease 0.1s;
    text-align: center;
    @include laptop {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &--hidden {
        transition: top 0.5s ease 0.1s;
        top: -150px;
    }

    &__logo {
        text-align: center;
        font-family: $headers-font;
        margin: 0.5rem;
        text-decoration: none;
        display: inline-block;
        @include laptop {
            display: block;
        }
        &__heading {
            font-size: 3rem;
            @include laptop {
                font-size: 5rem;
            }
        }
    }

    .hamburger {
        width: 26px;
        height: 16px;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        position: absolute;
        top: 1.875rem;
        right: 1.25rem;
        &--open .hamburger__menu:nth-child(1) {
            top: 7px;
            width: 0;
            left: 50%;
        }
        &--open .hamburger__menu:nth-child(2) {
            transform: rotate(45deg);
        }
        &--open .hamburger__menu:nth-child(3) {
            transform: rotate(-45deg);
        }
        &--open .hamburger__menu:nth-child(4) {
            top: 7px;
            width: 0;
            left: 50%;
        }
        &__menu {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: white;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
            @include laptop {
                display: none;
            }
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 7px;
            }
            &:nth-child(4) {
                top: 14px;
            }
        }
    }
}
