.search {
    background-color: #ebebeb;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    @include laptop {
        flex-direction: row;
    }
    &__form {
        padding: 0 0.5rem;
        position: relative;
        z-index: 5;
        border-top-color: $header-color;
        border-top-width: 0.25rem;
        border-top-style: solid;
        display: flex;
        flex-direction: column;
        @include laptop {
            border-top: none;
            border-right-color: $header-color;
            transition: transform 1s ease;
            border-right-style: solid;
            border-right-width: 0.25rem;
            z-index: 4;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 70%;
            transform: translate3d(-100%, 0, 0);
        }
        &--active {
            transform: translate3d(0, 0, 0);
        }
        &__search {
            padding: 0.5rem 0;
            display: flex;
            position: relative;
            &__input {
                flex-grow: 1;
                border: 2px solid $header-color;
                border-right: none;
                padding-left: 1rem;
                line-height: 100%;
                font-size: 0.9rem;
                transition: background-color 0.5s ease;
                &:focus {
                    outline: none;
                    background-color: $header-color;
                    color: white;
                }
            }
            &__button {
                cursor: pointer;
                box-shadow: none;
                border: none;
                position: relative;
                background: url('../images/search-icon.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 60% 60%;
                border: 0;
                display: block;
                height: 30px;
                width: 30px;
                background-color: $header-color;
                &.busy {
                    background: $header-color;
                }
                @include laptop {
                    height: 40px;
                    width: 40px;
                }
            }
            &__message {
                position: absolute;
                text-align: center;
                left: 0;
                right: 0;
                color: red;
                top: 100%;
                font-size: 0.85em;
                padding: 0 !important;
                margin: 0 !important;
            }
        }
        &__category {
            margin-top: 1em;
            &__heading {
                font-family: $text-font;
                text-align: center;
                padding: 0.2rem 0;
                font-size: 0.9rem;
                font-weight: normal;
                @include tablet {
                    font-size: 1.3rem;
                }
            }
            &__container {
                position: relative;
                margin: 0.3rem 0;
                display: flex;
            }
            &__radio {
                display: none;
                &:focus {
                    outline: none;
                }
                &:checked + label .search__form__category__label__icon:after {
                    background: transparent;
                    transition: all 0.5s;
                    transform: scale(1);
                }
                &:checked + label .search__form__category__label__icon:before {
                    transform: scale(1);
                    transition: all 0.4s;
                }
            }

            &__label {
                position: relative;
                cursor: pointer;
                width: 100%;
                transition: background-color 0.6s ease;
                display: flex;
                align-items: center;
                @include laptop {
                    &:hover {
                        background-color: white;
                        transition: background-color 0.2s ease;
                    }
                }
                &__text {
                    flex-grow: 1;
                    padding-left: 30px;
                    font-family: $text-font;
                    font-size: 0.9rem;
                    @include laptop {
                        font-size: 1rem;
                    }
                }
                &__image {
                    width: 21.5px;
                    height: 25px;
                    margin-right: 0.5rem;
                }
                &__icon {
                    position: absolute;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: $header-color;
                    @include laptop {
                        transition: all 0.2s ease-in-out;
                    }

                    &:before,
                    &:after {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        content: '';
                        border-radius: 50%;
                    }
                    &:before {
                        width: 8px;
                        height: 8px;
                        background: white;
                        transform: scale(0);
                        top: calc(50% - 4px);
                        left: calc(50% - 4px);
                        @include laptop {
                            transition: all 0.2s;
                        }
                    }
                    &:after {
                        top: 0;
                        left: 0;
                        width: 16px;
                        height: 16px;
                        background: rgba(255, 255, 255, 0.5);
                        transform: scale(0);
                    }
                }
            }
        }
        &__heading {
            font-family: $text-font;
            text-align: center;
            padding: 0.5rem 0;
            font-size: 0.9rem;
            @include tablet {
                font-size: 1.3rem;
            }
        }
        &__activate {
            position: absolute;
            padding: 0.5rem;
            left: 0;
            border: none;
            cursor: pointer;
            background-color: $header-color;
            line-height: 0;
            color: white;
            top: calc(-50vh - 1.375rem);
            @include laptop {
                display: block;
                right: -3rem;
                top: calc(50% - 1.5rem);
                left: 100%;
            }
            &__image {
                display: block;
                height: 1.75rem;
                width: 1.75rem;
                @include laptop {
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
        &__results {
            @include laptop {
                overflow: auto;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }
            &__heading {
                font-family: $text-font;
                text-align: center;
                padding: 0.2rem 0;
                font-size: 0.9rem;
                font-weight: normal;
                @include tablet {
                    font-size: 1.3rem;
                }
            }
            &__container {
                @include laptop {
                    overflow: auto;
                }
                &__show-more {
                    text-align: center;
                    &__button {
                        text-decoration: none;
                        margin: 1em 0;
                        background-color: $color3;
                        cursor: pointer;
                        border: none;
                        padding: 0.5em 1em;
                        color: white;
                        font-family: $text-font;
                        transition: background-color 0.5s ease;
                        &:hover {
                            background-color: lighten($color3, 10%);
                        }
                    }
                }
                .result {
                    margin-bottom: 10px;
                    padding: 0.2rem;
                    background-color: white;
                    box-shadow: 0 8px 6px -6px $header-color;
                    &__heading {
                        text-align: center;
                        font-family: $text-font;
                        font-size: 0.9rem;
                        @include tablet {
                            font-size: 1rem;
                        }
                    }
                    &__container {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        &__left {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            flex-grow: 1;
                            padding-right: 1em;
                            &__coordinates {
                                padding: 0;
                                font-size: 0.95rem;
                                color: #000;
                            }
                            &__address {
                                padding: 0;
                                font-size: 0.95rem;
                                color: #000;
                                margin-top: 0;
                            }
                        }
                        &__right {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            @include laptop {
                                min-width: 150px;
                            }
                            &__directions {
                                display: block;
                                font-family: $text-font;
                                font-size: 0.95rem;
                                color: $header-color;
                                margin-bottom: 0.625rem;
                                @include laptop {
                                    text-decoration: none;
                                    text-align: right;
                                }
                                &:hover {
                                    color: $color3;
                                }
                            }
                        }
                    }
                    &__distance {
                        padding: 0;
                        font-size: 0.95rem;
                        color: #000;
                        margin-top: 0;
                        text-align: right;
                    }
                }
            }
        }
    }
    &__container {
        transition: width 1s ease;
        width: 100%;
        height: 100vh;
        @include laptop {
            height: 100%;
            width: 100%;
        }
        &--smaller {
            @include laptop {
                width: 70%;
            }
        }
        &__map {
            height: 100vh;
            width: 100%;
            .marker-description {
                text-align: center;
                font-size: 0.8rem;
                width: 12.5rem;
                &__text {
                    font-size: 0.8rem;
                    margin: 0;
                    padding: 0;
                    &:first-of-type {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
