.geosilesia {
    &__tabs {
        display: flex;
        width: 100%;
        margin: 0 auto;
        background-color: $color3;
        flex-direction: column;
        @include landscape {
            flex-direction: row;
            width: 100%;
        }
        @include tablet {
            flex-direction: row;
        }
        &__item {
            flex-grow: 1;
            padding: 0.3125rem;
            color: white;
            border: 0.125rem solid $color3;
            font-family: $text-font;
            font-size: 0.9rem;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @include tablet {
                font-size: 1rem;
                border: none;
            }
            &:hover,
            &--selected {
                background-color: white;
                color: $header-color;
            }
        }
    }
    &__field {
        padding: 0.625rem 0.3125rem;
        background-color: white;
        &__structure {
            max-height: 0;
            transition: max-height 0.5s ease;
            overflow: hidden;
            &--active {
                max-height: 5000px;
                transition: max-height 0.5s ease;
            }
            &__link {
                display: inline-block;
                color: inherit;
                &:hover {
                    color: red;
                }
            }
            &__segment {
                @include laptop {
                    .geosilesia__field__structure__figure {
                        width: 75%;
                    }
                }
                @include full {
                    margin-top: 1.25rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .geosilesia__field__structure__figure {
                        width: 65%;
                        margin: 0;
                    }
                    .geosilesia__field__structure__list {
                        width: 33%;
                    }
                }
            }
            &__list {
                list-style-position: inside;
                font-family: $text-font;
                color: $text-color;
                line-height: 1.25rem;
                font-size: 0.7rem;
                @include tablet {
                    font-size: 0.8rem;
                }
            }
            &__heading {
                font-size: 1.5rem;
                font-family: $headers-font;
                text-align: center;
                color: darken($header-color, 10%);
            }
            &__figure {
                width: 100%;
                margin: 0.625rem 0;
                @include tablet {
                    margin: 0 auto;
                    width: 75%;
                }
                @include laptop {
                    width: 60%;
                }
                &__image {
                    width: 100%;
                }
                &__text {
                    font-size: 0.7rem;
                    font-family: $text-font;
                    color: $text-color;
                    text-align: center;
                    padding: 1rem;
                    span {
                        display: block;
                    }
                    @include tablet {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

.footnotes {
    margin-bottom: 1.5rem;
    padding: 0;
    &__heading {
        font-size: 1.5rem;
        font-family: $headers-font;
        text-align: center;
        color: darken($header-color, 10%);
    }
    li {
        margin: 0.625rem 0;
        font-family: $text-font;
        color: $text-color;
        font-size: 0.9rem;
        word-wrap: break-word;
        @include laptop {
            font-size: 1rem;
        }
        a {
            color: inherit;
            &:hover {
                color: $color3;
            }
        }
    }
    @include tablet {
        padding: 0 0.625rem;
    }
}

.literature {
    &__heading {
        padding: 0.625rem 0;
    }
    &__sources {
        margin-bottom: 3.125rem;
        padding: 0 0.3125rem;
        li {
            margin: 0.625rem 0;
            font-family: $text-font;
            color: $text-color;
            font-size: 0.9rem;
            word-wrap: break-word;
            @include laptop {
                font-size: 1rem;
            }
            a {
                color: inherit;
                &:hover {
                    color: $color3;
                }
            }
        }
    }
}

.geosites {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    &__link {
        max-width: 9.375rem;
        margin: 0.625rem;
    }
    &__image {
        width: 100%;
    }
}
