.terrain-table {
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    font-family: $text-font;
    color: $text-color;
    border-collapse: collapse;
    @include laptop {
        width: 50%;
    }
    &__header {
        border: 1px solid black;
        text-align: center;
        padding: 0.2rem;
        font-weight: normal;
    }
    &__data {
        text-align: center;
        padding: 0.125rem;
        width: 25%;
        &--right {
            border-left: 1px solid black;
        }
    }
}
