<section class="custom-post-types">
    <p ng-if="!vm.model.pageUrl && vm.edit"
       ng-bind="'Loading...'"></p>
    <h2 class="font-2 custom-post-types__heading"
        ng-bind="vm.edit ? 'Edit ' + vm.currentTitle + ' page' : 'Add new page'"></h2>
    <div class="custom-post-types__container--top-padding">
        <div class="custom-post-types__container__left">
            <button class="button"
                    ng-class="{'busy' : vm.actionStatus.busyType == 'save'}"
                    ng-click="vm.save()">Save</button>
            <button class="button"
                    ng-if="vm.edit"
                    ng-class="{'busy' : vm.actionStatus.busyType == 'remove'}"
                    ng-click="vm.remove()">Delete</button>
            <p class="custom-post-types__result"
               ng-class="{'custom-post-types__result--ok' : vm.actionStatus.status == 200}"
               ng-bind="vm.actionStatus.result"
               ng-if="vm.actionStatus.result"></p>
        </div>
        <div class="custom-post-types__container__right">
            <div class="input input--inline">
                <label for="title"
                       class="required">Title:</label>
                <input id="title"
                       ng-model="vm.model.title"
                       required
                       type="text">
                <span class="input__notice"></span>
            </div>
            <div class="input input--inline">
                <label for="pluralTitle"
                       class="required">Url:</label>
                <input id="pluralTitle"
                       ng-model="vm.model.pageUrl"
                       required
                       type="text">
                <span class="input__notice"></span>
            </div>
        </div>
    </div>
    <h2 class="font-2 custom-post-types__subheading">Components</h2>
    <p ng-if="!vm.model.rows.length"
       class="center">There are no components yet</p>
    <div id="components"
         ng-class="{'postFields' :  vm.model.rows.length}">
        <div ng-if="vm.edit">
            <add-component ng-repeat="i in vm.rowsNumber track by $index"
                       edit="true"
                       rows="vm.model.rows"
                       order="$index"
                       components="::vm.components"></add-component>
        </div>
    </div>
    <div class="custom-post-types__container--top-padding">
        <div class="custom-post-types__container__left"></div>
        <div class="custom-post-types__container__right">
            <button class="button"
                    ng-click="vm.addComponent()">Add new component</button>
        </div>
    </div>
</section>