<section class="p-a-4 p-a-1-m p-a-1-s">
    <h2 class="font-2 fs-6 center"
        ng-bind="::vm.listing.title"></h2>
    <div layout-xs="column"
         layout-gt-xs="row"
         class="m-t-4">
        <div flex-xs="100"
             flex-sm="30"
             flex-gt-sm="20"
             layout-align="start center"
             layout-align-gt-xs="start start"
             layout="row"
             layout-gt-xs="column">
            <div>
                <md-button class="md-primary md-raised m-a-0"
                           ng-click="vm.add()">
                    <span class="col-w">Add</span>
                </md-button>
                <md-button class="md-primary md-raised m-a-0 m-l-2"
                           ng-if="vm.listing.type === 'posts'"
                           ng-click="vm.editPostType()">
                    <span class="col-w">Edit post type</span>
                </md-button>
            </div>
            <p ng-class="vm.removeStatus.status == 200 ? 'col-6' : 'col-4'"
               ng-bind="vm.removeStatus.result"
               ng-if="vm.removeStatus.result"></p>
        </div>
        <div flex-sm="100"
             flex-md="70"
             flex-gt-md="60">
            <p class="center"
               ng-if="!vm.listing.models.length">There are no&nbsp;<span ng-bind="::vm.listing.title || vm.model.data.title.toLowerCase()"></span>&nbsp;yet</p>
            <md-list class="p-t-0">
                <md-list-item layout="row"
                              ng-repeat="model in vm.listing.models track by model._id"
                              class="md-button md-raised"
                              ng-class="{'m-b-2' : !$last}">
                    <a flex="80"
                       ui-sref="{{vm.editLink}}"
                       layout="row"
                       layout-align="left center"
                       ng-bind="::model.title"></a>
                    <md-button class="md-raised md-warn"
                               flex="20"
                               ng-click="vm.remove(model._id, $index)"
                               ng-class="{'busy' : vm.removeStatus.busy == model._id && !vm.removeStatus.status}">Delete</md-button>
                </md-list-item>
            </md-list>
        </div>
    </div>
</section>
