<div class="custom-post-types">
    <h2 class="custom-post-types__heading">Typy postów</h2>

    <div class="custom-post-types__container--top-padding">
        <div class="custom-post-types__container__left">
            <a class="button"
               ng-href="/post-types/add">Dodaj nowy</a>
        </div>
        <div class="custom-post-types__container__right">
            <p class="center"
               ng-if="!vm.postTypes.length">Nie ma obecnie żadnych typów postów</p>
            <div class="custom-post-types__item"
                 ng-repeat="post in vm.postTypes track by post._id">
                <a class="custom-post-types__item__title"
                   ng-href="{{post.url}}"
                   ng-bind="post.title || post.type"></a>
                <a class="button button--inline"
                   ng-href="{{post.url}}">Edytuj</a>
                <span class="button button--inline"
                      ng-click="vm.removeCustomPostType(post._id)"
                      ng-class="{'busy' : vm.removeStatus === post._id}">Usuń</span>
            </div>
        </div>
    </div>

</div>
