<main>
    <section>
        <h2>Atrakcje geoturystyczne</h2>
        <p>Niektóre geostanowiska są, lub mogą stać się po odpowiednim wypromowaniu i uprzystępnieniu przedmiotem zainteresowania turystycznego, czyli obiektem geoturystycznym. Obiekty i zjawiska geoturystyczne tworzą wspólną kategorię atrakcji geoturystycznych. Połączenie atrakcji geoturystycznych specjalnie zorganizowanymi i oznakowanymi ścieżkami dydaktycznymi pozwala zainteresować turystów budową geologiczną danego regionu.</p>
        <p>Lokalizacja istniejących i potencjalnych atrakcji geoturystycznych województwa śląskiego dostępna jest na stronie głównej serwisu. Interaktywna mapa prezentuje:</p>
        <ul class="markers">
            <li class="markers__item">
                <img src="images/markers/world_geostanowiska.png">
                <p class="markers__item_text">geostanowiska o randze międzynarodowej (źródło: Centralny Rejestr Geostanowisk Polski, stan w dniu 31.XII.2016 r.);</p>
            </li>
            <li class="markers__item">
                <img src="images/markers/fossils.png">
                <p class="markers__item_text">geostanowiska o randze krajowej oraz wybrane, ważne dla poznania georóżnorodności regionu obiekty o randze regionalnej (źródło: Centralny Rejestr Geostanowisk Polski, stan w dniu 31.XII.2016 r.);</p
                ></li>
            <li class="markers__item">
                <img src="images/markers/cave-2.png">
                <p class="markers__item_text">trasy podziemne udostępnione turystycznie (kopalnie, sztolnie, jaskinie);</p>
            </li>
            <li class="markers__item">
                <img src="images/markers/peak.png">
                <p class="markers__item_text">rezerwaty przyrody nieożywionej i stanowiska dokumentacyjne<sup>1</sup>, nie występujące w kategorii geostanowiska i trasy podziemne;</p>
            </li>
            <li class="markers__item">
                <img src="images/markers/museum_industry.png">
                <p class="markers__item_text">nieruchome obiekty dziedzictwa kulturowego powstałe na bazie walorów przyrody nieożywionej<sup>2</sup>;</p>
            </li>
            <li class="markers__item">
                <img src="images/markers/museum_science.png">
                <p class="markers__item_text">muzea, ekspozycje i parki tematyczne upowszechniające wiedzę i zbiory z zakresu geologii i paleontologii, historii górnictwa, hutnictwa i przemysłu cementowego, przetwórstwa kopalin oraz techniki i kultury górniczej;</p>
            </li>
            <li class="markers__item">
                <img src="images/markers/spa.png">
                <p class="markers__item_text">uzdrowiska i obiekty uzdrowiskowe wykorzystujące wody lecznicze, mineralne, solanki i borowiny (torfy);</p>
            </li>
            <li class="markers__item">
                <img src="images/markers/walkingtour.png">
                <p class="markers__item_text">ścieżki tematyczne udostepniające i propagującej treści związane z dziedzictwem Ziemi oraz dziedzictwem przemysłowym;</p>
            </li>
            <li class="markers__item">
                <img src="images/markers/world.png">
                <p class="markers__item_text">imprezy promujące dziedzictwo Ziemi i dziedzictwo przemysłowe.</p>
            </li>
        </ul>
        <h3 class="footnotes__heading">Przypisy</h3>
        <ul class="footnotes">
            <li><sup>1</sup> - wykazy form ochrony przyrody dostępne są w Centralnym Rejestrze Form Ochrony Przyrody;</li>
            <li><sup>2</sup> – rejestry i ewidencje chronionych obiektów dziedzictwa kulturowego dostępne są na stronie internetowej Narodowego Instytutu Dziedzictwa, w zakładce Zabytki w Polsce;</li>
        </ul>
        <h3 class="footnotes__heading">Uwaga!!!</h3>
        <p>Zwiedzanie atrakcji geoturystycznych może być niebezpieczne dla życia lub zdrowia. Twórcy serwisu nie biorą odpowiedzialności za ewentualne wypadki zaistniałe podczas ich zwiedzania. Wstęp do niektórych obiektów jest zabroniony, inne można zwiedzać tylko z udostępnionych miejsc lub po uzgodnieniu z prawnym właścicielem. Część prezentowanych na mapie obiektów objętych jest różnymi formami ochrony (pomniki, stanowiska dokumentacyjne, rezerwaty) i obowiązują wobec nich odpowiednie zakazy. Np. w rezerwatach przyrody obowiązuje zasada poruszania się tylko po wyznaczonych szlakach. Wejście do jaskiń w rezerwatach przyrody możliwe jest wyłącznie po uzyskaniu indywidualnego zezwolenia, o które należy wnioskować do Regionalnej Dyrekcji Ochrony Środowiska w Katowicach. </p>
        <h3 class="footnotes__heading">Serdecznie zapraszamy do współpracy!!!</h3>
        <p>Prosimy o przesyłanie informacji o udostępnionych do zwiedzania (muzea, ekspozycje, parki tematyczne, szlaki tematyczne, tablice informacyjne i inne) obiektach związanych z dziedzictwem Ziemi i dziedzictwem przemysłowym. Prosimy pisać pod adres e-mail: ryszard.chybiorz(at)us.edu.pl</p>
    </section>
</main>