<div class="search">
    <div class="search__form" ng-class="{'search__form__active' : vm.showSearch}">
        <form ng-submit="vm.search(vm.location)">
            <input ng-model="vm.location" type="text">

            <div ng-repeat="category in ::vm.categories track by $index">
                <label ng-bind="category.name"></label>
                <input type="radio" ng-model="vm.category" value="{{category.category}}" ng-change="vm.pickCategory(vm.category)">
            </div>
            <label>Wszystkie</label>
            <input type="radio" ng-model="vm.category" value="all" ng-change="vm.pickCategory(vm.category)">
        </form>
    </div>
    <map class="search__container"
         ng-class="{'search__container__smaller' : vm.showSearch}"
         places="vm.markers" center-map="vm.showSearch"></map>

    <div style="position: absolute; top:50%;" ng-click="vm.toggleSearchPanel()">
        <button>text</button>
    </div>
</div>

