<div class="search">
    <div class="search__form">
        <form ng-submit="vm.search(vm.location)">
            <input ng-model="vm.location" type="text">

            <div ng-repeat="category in ::vm.categories track by $index">
                <label ng-bind="category.name"></label>
                <input type="radio" ng-model="vm.category" value="{{category.category}}" ng-change="vm.pickCategory(vm.category)">
            </div>
            <label>Wszystkie</label>
            <input type="radio" ng-model="vm.category" value="all" ng-change="vm.pickCategory(vm.category)">
        </form>
    </div>
    <map class="search__container"
         places="vm.markers"></map>
</div>

