.add-field {
  margin-bottom: 1em;
  position: relative;


  &-container {
    display: flex;
    width: 80%;
    padding-top: 1em;
    border-bottom: 1px solid darken(map-get($colors-map, w), 20%);

    &--last {
      border-bottom: 1px solid darken(map-get($colors-map, w), 20%);
      margin-bottom: 1em;
    }

    &__left {
      width: 25%;
    }
    &__right {
      width: 75%;
    }
  }

  &__type {

    &__all {
      display: flex;
      flex-wrap: wrap;
      left: 0;
      max-width: 100%;
      margin-top: .7em;

      &__item {
        padding: .4em;
        font-size: .9em;
        margin-right: 1em;
        margin-bottom: .5em;
        color: white;
        @extend .bg-col-3;
        cursor: pointer;
        transition: background-color .5s ease, color .5s ease;
        &:hover {
          background-color: white;
          @extend .bg-col-b;
        }
      }
    }

    &__select {
      margin-top: 1em;

      &__info {
        font-size: .8em;
        padding-left: 15%;
      }
    }
    &__repeater {
      margin-top: 1em;
      flex-direction: column;

      .repeaterFields,
      .custom-post-types__container--top-padding {
        width: 100%;
      }

      .add-field-container {
        width: 100%;

        //&__left {
        //  width: 15%;
        //}
        //&__right {
        //  width: 85%;
        //}
      }

    }
  }
}