.add-field {
  margin-bottom: 1em;
  position: relative;


  &-container {
    display: flex;
    width: 80%;
    padding-top: 1em;
    border-bottom: 1px solid darken($color4, 20%);

    &--last {
      border-bottom: 1px solid darken($color4, 20%);
      margin-bottom: 1em;
    }

    &__left {
      width: 25%;
    }
    &__right {
      width: 75%;
    }
  }

  &__type {

    &__all {
      display: flex;
      flex-wrap: wrap;
      left: 0;
      max-width: 100%;
      margin-top: .7em;

      &__item {
        padding: .4em;
        font-size: .9em;
        margin-right: 1em;
        color: white;
        background-color: $color2;
        cursor: pointer;
        transition: background-color .5s ease, color .5s ease;
        &:hover {
          background-color: white;
          color: $text-color;
        }
      }
    }

    &__select {
      margin-top: 1em;
    }
  }
}