.custom-post-types {
  padding-bottom: 2em;

  .postFields {
    border-top: 1px solid darken($color4, 20%);
  }

  &__heading {
    font-size: 2.5em;
    text-align: center;
  }

  &__subheading {
    font-size: 2em;
    text-align: center;
    padding-bottom: 1rem;
  }

  &__item {
    display: flex;
    margin-bottom: .5em;
    align-items: center;
    background-color: $color4;
    padding: .5em;

    &__title {
      flex-grow: 1;
    }
  }
  &__container,
  &__container--top-padding {
    display: flex;
    &__left {
      width: 20%;
    }
    &__right {
      width: 60%;
    }
  }
  &__container--top-padding {
    padding-top: 2em;
  }
  &__result {
    color: red;
    font-size: .8em;
    padding-top: .5em;
    &--ok {
      color: green;
    }
  }

}