.listOfSources  {
  margin-bottom: 3.125rem;
  padding: 0 .3125rem;
  li  {
    margin: .625rem 0;
    font-family: $text-font;
    color: $text-color;
    font-size: .9rem;
    word-wrap: break-word;
    @include laptop  {
      font-size: 1rem;
    }
    a   {
      color: inherit;
      &:hover {
        color: $color3;
      }
    }
  }
}
.listOfFootnotes {
  @extend .listOfSources;
  margin-bottom: 1.5rem;
  padding: 0;
  @include tablet  {
    padding: 0 0.625rem;
  }
}
.disc-list  {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.25rem;
  @include tablet  {
    padding-left: 2.25rem;
  }
  @include laptop  {
    padding-left: 3.125rem;
  }
  li  {
    margin: .625rem 0;
    color: $text-color;
    font-family: $text-font;
    line-height: 1.5rem;
    font-size: .9rem;
    @include laptop  {
      font-size: 1rem;
    }
  }
}
.listOfGeostanowiska  {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  li  {
    max-width: 9.375rem;
    margin: .625rem;
    img {
      width: 100%;
    }
  }
}