<div class="custom-post-types">
    <h2 class="custom-post-types__heading"
        ng-bind="vm.edit ? 'Edytuj ' + vm.postType.title : 'Dodaj nowy ' + vm.postType.title"></h2>
    <div class="custom-post-types__container--top-padding">
        <div class="custom-post-types__container__left">
            <span class="button"
                  ng-class="{'busy' : vm.saveStatus.busy}"
                  ng-click="vm.save()">Zapisz</span>
            <p class="custom-post-types__result"
               ng-class="{'custom-post-types__result--ok' : vm.saveStatus.status == 200}"
               ng-bind="vm.saveStatus.result"
               ng-if="vm.saveStatus.result"></p>
        </div>
        <div class="custom-post-types__container__right">
            <div class="input input--inline">
                <label for="title"
                       class="required">Nazwa:</label>
                <input id="title"
                       ng-model="vm.model.title"
                       required
                       type="text">
                <span class="input__notice"></span>
            </div>
        </div>
    </div>
    <h2 class="custom-post-types__subheading">Pola</h2>
    <p ng-if="!vm.postType.fields.length"
       class="center">Obecnie posty tego typu nie mają żadnych pól</p>
    <div>
        <div class="custom-post-types__container">
            <div class="custom-post-types__container__left">

            </div>
            <div class="custom-post-types__container__right">
                <!--<div ng-repeat="field in ::vm.postType.fields track by field.id" ng-switch="field.type">-->
                <field model="vm.model.data"
                       field="field"
                       ng-repeat="field in ::vm.postType.fields track by field.id"></field>
            </div>
        </div>
    </div>
</div>