<section>
    <p ng-if="vm.loadingPostType"
       ng-bind="'Loading...'"></p>
    <div class="custom-post-types"
         ng-if="!vm.loadingPostType">
        <h2 class="custom-post-types__heading"
            ng-bind="::vm.model.pluralTitle"></h2>
        <div class="custom-post-types__container--top-padding">
            <div class="custom-post-types__container__left">
                <a class="button"
                   ng-href="{{'/post/add/' + vm.model.type}}">Dodaj nowy</a>
                <a class="button"
                   ng-href="{{'/post-types/edit/' + vm.model.id}}">Edytuj typ postów</a>
                <p class="custom-post-types__result"
                   ng-class="{'custom-post-types__result--ok' : vm.removeStatus.status == 200}"
                   ng-bind="vm.removeStatus.result"
                   ng-if="vm.removeStatus.result"></p>
            </div>
            <div class="custom-post-types__container__right">
                <p class="center"
                   ng-if="!vm.model.posts.length">Nie ma obecnie żadnych postów</p>
                <div class="custom-post-types__item"
                     ng-repeat="post in vm.model.posts track by post._id">
                    <a class="custom-post-types__item__title"
                       ng-href="{{post.url}}"
                       ng-bind="post.title || post.type"></a>
                    <a class="button button--inline"
                       ng-href="{{post.url}}">Edytuj</a>
                    <button class="button button--inline"
                          ng-click="vm.removePost(post._id)"
                          ng-class="{'busy' : vm.removeStatus.id === post._id}">Usuń</button>
                </div>
            </div>
        </div>
    </div>
</section>
