<section class="p-a-4 p-a-1-m p-a-1-s">
    <h2 class="font-2 fs-6 center"
        ng-bind="::vm.postType.pluralTitle"></h2>
    <div layout-xs="column"
         layout-gt-xs="row"
         class="m-t-4">
        <div flex-xs="100"
             flex-sm="30"
             flex-gt-sm="20"
             layout-align="start center"
             layout-align-gt-xs="start start"
             layout="row"
             layout-gt-xs="column">
            <div>
                <md-button class="md-primary md-raised m-a-0-s m-r-2-s m-t-0"
                           ng-click="vm.redirect('postsAdd', {type: vm.postType.type})">
                    <span class="col-w">Dodaj nowy</span>
                </md-button>
                <md-button class="md-primary md-raised m-a-0-s m-t-0"
                           ng-click="vm.redirect('postTypesEdit', {id: vm.postType.id})">
                    <span class="col-w">Edytuj typ postów</span>
                </md-button>
            </div>
            <p ng-class="{'col-6' : vm.removeStatus.status == 200}"
               ng-bind="vm.removeStatus.result"
               ng-if="vm.removeStatus.result"></p>
        </div>
        <div flex-sm="100"
             flex-md="70"
             flex-gt-md="60">
            <p class="center"
               ng-if="!vm.postType.posts.length">Nie ma obecnie żadnych postów</p>
            <p class="center"
               ng-if="(vm.postType.posts | filter: vm.filter).length == 0">Nie ma żadnych postów spełniające wyszukiwane kryteria</p>
            <md-list class="p-t-0">
                <md-list-item layout="row"
                              ng-repeat="post in vm.postType.posts | filter: vm.filter track by post._id"
                              class="md-button md-raised"
                              ng-class="{'m-b-2' : !$last}">
                    <a flex="80"
                       ui-sref="postsEdit({id: post.id, type: post.type})"
                       layout="row"
                       layout-align="left center"
                       ng-bind="::post.title || post.type"></a>
                    <md-button class="md-raised md-warn"
                               flex="20"
                               ng-click="vm.removePost(post._id, $index)"
                               ng-class="{'busy' : vm.removeStatus.id == post._id}">Usuń</md-button>
                </md-list-item>
            </md-list>
        </div>
        <div flex="100"
             flex-gt-md="20"
             class="p-l-2 p-r-2">
            <md-input-container class="md-block">
                <label for="seachInput">Search</label>
                <input id="seachInput" type="text" ng-model="vm.filter">
            </md-input-container>
        </div>
    </div>
</section>