<main>
    <section class="gallery">
        <h2 ng-bind="::vm.gallery.title"></h2>
        <p class="gallery__description"
           ng-bind="::desc"
           ng-repeat="desc in ::vm.gallery.description"></p>
        <figure class="gallery__figure"
                ng-click="vm.openFullMode($index)"
                ng-repeat="image in ::vm.gallery.images"
                image-loaded
                load-class="figury-up">
            <img class="gallery__figure__image"
                 ng-src="{{::image.src}}">
            <figcaption class="gallery__figure__text"
                        ng-if="::image.copy"
                        ng-bind="::image.copy">
            </figcaption>
        </figure>
    </section>
</main>

<div class="fullscreen-mode"
     ng-class="{'fullscreen-mode--hidden' : vm.show}">
    <div class="image-overlay"
         ng-click="vm.closeFullScreenMode()"></div>
    <div class="fullscreen-image">
        <div class="fullscreen-image__figure"
             ng-swipe-right="vm.prev()"
             ng-swipe-left="vm.next()"
             ng-repeat="img in ::vm.gallery.images track by $index"
             ng-class="{'fullscreen-image__figure--active' : vm.currentImage == $index, 'fullscreen-image__figure--prev' : vm.prevImage == $index, 'fullscreen-image__figure--next' : vm.nextImage == $index, 'backward' : vm.back, 'no-move' : vm.noMove}">
            <div class="fullscreen-image__figure__container"
                 ng-class="{'fullscreen-image__figure__container--full-width' : !(img.copy || img.description || img.author || img.link)}">
                <img class="fullscreen-image__figure__container__img"
                     ng-src="{{::img.src}}">
            </div>
            <div class="fullscreen-image__figure__figcaption"
                 ng-if="::(img.copy || img.description || img.author || img.link)">
                <h3 class="fullscreen-image__figure__figcaption__title"
                    ng-bind="::img.copy"></h3>
                <p class="fullscreen-image__figure__figcaption__text"
                   ng-bind="::img.description"
                   ng-if="::!img.link"></p>
                <a class="fullscreen-image__figure__figcaption__link"
                   ng-href="{{::img.link}}"
                   target="_blank"
                   ng-bind="::img.description || 'Więcej'"
                   ng-if="::img.link"></a>
                <p class="fullscreen-image__figure__figcaption__text"
                   ng-bind="::img.author"></p>
            </div>

        </div>
        <div class="fullscreen-image__close"
             ng-click="vm.closeFullScreenMode()"></div>
        <span class='fullscreen-image__arrows fullscreen-image__arrows--prev'
              ng-click="vm.prev()"></span>
        <span class='fullscreen-image__arrows fullscreen-image__arrows--next'
              ng-click="vm.next()"></span>
    </div>
</div>