<div ng-switch="vm.field.type"
     layout="column"
     class="field">

    <md-input-container ng-switch-when="text" class="m-b-0">
        <label ng-bind="::vm.field.title"
               ng-attr-for="{{vm.field.id + '-1'}}"></label>
        <input type="text"
               ng-attr-id="{{vm.field.id + '-1'}}"
               ng-model="vm.model[vm.field.id]">
    </md-input-container>

    <md-input-container ng-switch-when="select">
        <label ng-bind="::vm.field.title"
               ng-attr-for="{{vm.field.id + '-1'}}"></label>
        <md-select ng-model="vm.model[vm.field.id]"
                   ng-attr-id="{{vm.field.id + '-1'}}">
            <md-option ng-repeat="item in ::vm.field.options"
                       ng-value="item"><span ng-bind="::item"></span></md-option>
        </md-select>
    </md-input-container>

    <md-input-container ng-switch-when="textarea" class="m-b-0">
        <label ng-bind="::vm.field.title"
               ng-attr-for="{{vm.field.id + '-1'}}"></label>
        <textarea ng-atrr-id="{{vm.field.id + '-1'}}"
                  rows="3"
                  max-rows="10"
                  ng-model="vm.model[vm.field.id]"></textarea>
    </md-input-container>

    <md-input-container ng-switch-when="number" class="m-b-0">
        <label ng-bind="::vm.field.title"
               ng-attr-for="{{vm.field.id + '-1'}}"></label>
        <input type="number"
               ng-model="vm.model[vm.field.id]"
               ng-attr-id="{{vm.field.id + '-1'}}">
    </md-input-container>

    <div ng-switch-when="checkbox"
         ng-init="!vm.model[vm.field.id] ? vm.model[vm.field.id] = false : null">
        <md-checkbox ng-model="vm.model[vm.field.id]"
                     class="m-a-0">
            <span ng-bind="vm.field.title + ' : ' + vm.model[vm.field.id]"></span>
        </md-checkbox>
    </div>

    <md-input-container ng-switch-when="date" class="m-b-0">
        <label ng-bind="::vm.field.title"
               ng-attr-for="{{vm.field.id + '-1'}}"></label>
        <md-datepicker ng-model="vm.model[vm.field.id]"
                       md-open-on-focus=""></md-datepicker>
    </md-input-container>

    <div ng-switch-when="repeater" layout="column">
        <span class="block repeater-title m-b-1" ng-bind="::vm.field.title"></span>
        <div flex="grow">
            <repeater parent-model="vm.model" field="vm.field" repeater-fields="vm.field.repeaterFields"></repeater>
        </div>
    </div>

    <div ng-switch-when="file">
        <div class="input input--inline input--inline--button">
            <label ng-bind="::vm.field.title" ng-attr-for="{{vm.field.id + '-1'}}"></label>
            <button class="button"
                    ng-click="vm.showFilePopup = true">Select file</button>
            <button class="button m-l"
                    ng-click="vm.model[vm.field.id] = undefined"
                    ng-if="vm.model[vm.field.id]">Delete file</button>
            <span class="m-l" ng-bind="vm.model[vm.field.id].filename"></span>
            <div ng-if="vm.model[vm.field.id]" class="field__file m-l" ng-switch="vm.model[vm.field.id].type == 'application/pdf'">
                <img class="field__file__image" src="{{vm.model[vm.field.id].src}}" ng-switch-when="false">
                <img ng-switch-when="true" class="field__file__image" src="images/pdf-placeholder.png">
            </div>
        </div>
    </div>

</div>

<div ng-show="vm.showFilePopup" class="add-file">
    <files model="vm.model[vm.field.id]"></files>
    <span ng-click="vm.showFilePopup = false" class="add-file__close"></span>
</div>