<div ng-switch="vm.field.type">
    <div class="input input--inline"
         ng-switch-when="text">
        <label ng-bind="::vm.field.title" ng-attr-for="{{vm.field.id + '-1'}}"></label>
        <input ng-model="vm.model[vm.field.id]"
               ng-attr-id="{{vm.field.id + '-1'}}"
               type="text">
    </div>
    <div class="input input--inline"
         ng-switch-when="select">
        <label ng-bind="::vm.field.title" ng-attr-for="{{vm.field.id + '-1'}}"></label>
        <select ng-attr-id="{{vm.field.id + '-1'}}" ng-model="vm.model[vm.field.id]" ng-options="item for item in vm.field.options"></select>
    </div>
    <div class="input input--inline"
         ng-switch-when="textarea">
        <label ng-bind="::vm.field.title" ng-attr-for="{{vm.field.id + '-1'}}"></label>
        <textarea ng-attr-id="{{vm.field.id + '-1'}}" ng-model="vm.model[vm.field.id]"></textarea>
    </div>
    <div class="input input--inline"
         ng-switch-when="checkbox">
        <label ng-bind="::vm.field.title" ng-attr-for="{{vm.field.id + '-1'}}"></label>
        <input type="checkbox"
               ng-model="vm.model[vm.field.id]"
               ng-attr-id="{{vm.field.id + '-1'}}">
    </div>
    <div class="input input--inline"
         ng-switch-when="number">
        <label ng-bind="::vm.field.title" ng-attr-for="{{vm.field.id + '-1'}}"></label>
        <input type="number"
               ng-model="vm.model[vm.field.id]"
               ng-attr-id="{{vm.field.id + '-1'}}">
    </div>
    <div ng-switch-when="file">
        <div class="input input--inline input--inline--button">
            <label ng-bind="::vm.field.title" ng-attr-for="{{vm.field.id + '-1'}}"></label>
            <button class="button"
                    ng-click="vm.showFilePopup = true">Wybierz plik</button>
            <button class="button m-l"
                    ng-click="vm.model[vm.field.id] = undefined"
                    ng-if="vm.model[vm.field.id]">Usuń plik</button>
            <span class="m-l" ng-bind="vm.model[vm.field.id].filename"></span>
            <div ng-if="vm.model[vm.field.id]" class="field__file m-l" ng-switch="vm.model[vm.field.id].type == 'application/pdf'">
                <img class="field__file__image" src="{{vm.model[vm.field.id].src}}" ng-switch-when="false">
                <img ng-switch-when="true" class="field__file__image" src="images/pdf-placeholder.png">
            </div>
        </div>
    </div>
    <div class="input input--inline"
         ng-switch-when="repeater">
        <label ng-bind="::vm.field.title"></label>
        <repeater parent-model="vm.model"
                  class="repeater"
                  field="vm.field"
                  repeater-fields="vm.field.repeaterFields"></repeater>
    </div>
</div>
<div ng-show="vm.showFilePopup" class="add-file">
    <files model="vm.model[vm.field.id]"></files>
    <span ng-click="vm.showFilePopup = false" class="add-file__close"></span>
</div>