<div class="photos">
    <ul class="photos__categories">
        <li class="photos__categories__category"
            ng-repeat="category in ::vm.categories track by category"
            ng-bind="::category"
            ng-class="{'markedCategory' : vm.selectedCategory === category}"
            ng-click="vm.changeCategory(category)"></li>
    </ul>
    <ul class="photos__list">
        <li ng-repeat="gallery in ::vm.component.galleries track by $index"
            class="photos__list__item"
            image-loaded
            load-class="figury-up"
            ng-show="vm.selectedCategory === 'wszystkie' || vm.selectedCategory == gallery.category">
            <a ng-href="{{::gallery.link}}">
                <figure class="photos__list__item__figure">
                    <img class="photos__list__item__figure__image"
                        loading="lazy"
                        ng-src="{{::gallery.image}}"
                        ng-attr-alt="{{::'przejdź do galerii ' + gallery.title}}">
                    <figcaption class="photos__list__item__figure__text"
                        ng-bind="::gallery.title"></figcaption>
                </figure>
            </a>
        </li>
    </ul>
</div>