<div class="gallery">
    <h2 ng-bind="::vm.component.title"></h2>
    <p ng-repeat="paragraph in ::vm.component.paragraphs track by $index"
        class="gallery__description"
        ng-bind-html="::paragraph.paragraph"></p>
    <figure class="gallery__figure"
        ng-click="vm.openFullMode($index)"
        ng-repeat="image in ::vm.images | orderBy: 'position' track by image.id"
        image-loaded
        ng-if="::image.src"
        load-class="figury-up">
        <img class="gallery__figure__image"
            loading="lazy"
            ng-attr-alt="{{::image.title}}"
            ng-src="{{::image.src}}">
        <figcaption class="gallery__figure__text"
            ng-if="::image.title"
            ng-bind="::image.title">
        </figcaption>
    </figure>
</div>

<div class="fullscreen-mode"
    ng-class="{'fullscreen-mode--hidden' : vm.show}">
    <div class="image-overlay"
        ng-click="vm.closeFullScreenMode()"></div>
    <div class="fullscreen-image">
        <div class="fullscreen-image__figure"
            ng-swipe-right="vm.prev()"
            ng-swipe-left="vm.next()"
            ng-repeat="img in ::vm.images | orderBy: 'position' track by img.id"
            ng-class="{'fullscreen-image__figure--active' : vm.currentImage == $index, 'fullscreen-image__figure--prev' : vm.prevImage == $index, 'fullscreen-image__figure--next' : vm.nextImage == $index, 'backward' : vm.back, 'no-move' : vm.noMove}">
            <div class="fullscreen-image__figure__container"
                ng-class="::{'fullscreen-image__figure__container--full-width' : !(img.title || img.description || img.author)}">
                <img class="fullscreen-image__figure__container__img"
                    loading="lazy"
                    ng-attr-alt="{{::img.title}}"
                    ng-src="{{::img.src}}">
            </div>
            <div class="fullscreen-image__figure__figcaption"
                ng-if="::(img.copy || img.description || img.author)">
                <h3 class="fullscreen-image__figure__figcaption__title"
                    ng-bind="::img.title"
                    ng-if="::img.title"></h3>
                <p class="fullscreen-image__figure__figcaption__text"
                    ng-bind="::img.description"
                    ng-if="::img.description"></p>
                <p class="fullscreen-image__figure__figcaption__text"
                    ng-bind="::img.author"
                    ng-if="::img.author"></p>
            </div>

        </div>
        <div class="fullscreen-image__close"
            ng-click="vm.closeFullScreenMode()"></div>
        <span class='fullscreen-image__arrows fullscreen-image__arrows--prev'
            ng-click="vm.prev()"></span>
        <span class='fullscreen-image__arrows fullscreen-image__arrows--next'
            ng-click="vm.next()"></span>
    </div>
</div>