<dl ng-if="::vm.component.items">
    <div ng-repeat="item in ::vm.component.items track by $index">
        <dt ng-bind="::item.title"></dt>
        <dd ng-repeat="row in ::item.rows track by $index">
            <span ng-bind="::row.text"></span>
            <ul class="default-list"
                ng-if="::row.list_item.length">
                <li ng-repeat="item in ::row.list_item track by $index"
                    ng-bind="::item.text"></li>
            </ul>
        </dd>
    </div>
</dl>