<div ng-switch="::vm.component.type">
    <h1 ng-bind="::vm.component.text"
        ng-class="::vm.component.class"
        ng-switch-when="h1"></h1>
    <h2 ng-bind="::vm.component.text"
        ng-class="::vm.component.class"
        ng-switch-when="h2"></h2>
    <h3 ng-bind="::vm.component.text"
        ng-class="::vm.component.class"
        ng-switch-when="h3"></h3>
    <h4 ng-bind="::vm.component.text"
        ng-class="::vm.component.class"
        ng-switch-when="h4"></h4>
    <h5 ng-bind="::vm.component.text"
        ng-class="::vm.component.class"
        ng-switch-when="h5"></h5>
    <h6 ng-bind="::vm.component.text"
        ng-class="::vm.component.class"
        ng-switch-when="h6"></h6>
</div>