<div class="homepage-banner">
    <carousel interval="{{::vm.component.interval}}"
        slides="::vm.component.slides"
        custom="::vm.component"></carousel>
    <div>
        <h2 class="homepage-banner__heading"
            du-smooth-scroll="section-1">
            <span ng-bind="::vm.component.title"></span>
            <span class="homepage-banner__heading__left"></span>
            <span class="homepage-banner__heading__right"></span>
        </h2>
        <span class="homepage-banner__bar"></span>
    </div>
</div>