<h2 ng-bind="::vm.component.title"></h2>
<article class="news"
    ng-if="::vm.events.length"
    ng-repeat="event in vm.events"
    ng-init="vm.active = 0"
    ng-class="{'news--active' : vm.active === $index}">
    <div class="news__head"
        ng-click="vm.active === $index ? vm.active = ' ' : vm.active = $index">
        <h3 class="news__head__title"
            ng-bind="::event.title"></h3>
        <p class="news__head__date"
            ng-bind="::event.data.date_and_place"></p>
    </div>
    <div class="news__body"
        ng-class="{'news__body--active' : vm.active === $index}">
        <p class="news__body__text"
            ng-repeat="para in ::event.data.paragraphs"
            ng-bind="::para.item">
        </p>
        <p ng-if="::event.data.links.length"
            ng-repeat="link in ::event.data.links"
            class="news__body__links">
            <a class="news__body__links__item"
                href="{{::link.link}}"
                target="_blank"
                rel="noreferrer"
                ng-bind="::link.text"></a>
        </p>
    </div>
</article>
<p class="news__info"
    ng-if="!vm.events.length">Obecnie nie ma żadnych wydarzeń</p>