<main ng-class="::{'homepage' : vm.page.pageUrl === '/'}">
      <section ng-repeat="row in vm.page.rows"
            ng-switch="row.type"
            ng-attr-id="{{'section-' + $index}}">
            <homepage-banner ng-switch-when="homepage_banner"
                  component="::row.data"></homepage-banner>
            <search-map ng-switch-when="map"
                  component="::row.data"></search-map>
            <title-and-text ng-switch-when="title_and_text"
                  component="::row.data"></title-and-text>
            <marker-category-list ng-switch-when="marker_category_list"
                  component="::row.data"></marker-category-list>
            <literature ng-switch-when="literature"
                  component="::row.data"></literature>
            <news ng-switch-when="news"
                  component="::row.data"></news>

            <dictionary ng-switch-when="dictionary"
                  component="::row.data"></dictionary>
            <footnotes ng-switch-when="footnotes"
                  component="::row.data"></footnotes>
            <heading ng-switch-when="heading"
                  component="::row.data"></heading>
            <geosites-logos ng-switch-when="geosites_logos"
                  component="::row.data"></geosites-logos>
            <tabs ng-switch-when="tabs"
                  component="::row.data"></tabs>
            <gallery-list ng-switch-when="gallery_list"
                  component="::row.data"></gallery-list>
            <gallery ng-switch-when="gallery"
                  component="::row.data"></gallery>
      </section>
      <section class="nopage"
            ng-if="(!vm.page || !vm.page.rows.length) && vm.loaded">
            <h2>Przepraszamy, nie możemy znaleźć tej strony!</h2>
            <p ng-bind="::'Strona prawdopodobnie nie istnieje' + (vm.pwaIsAvailable ? '...' : '')"></p>
            <p style="margin:0"
                  ng-if="::vm.pwaIsAvailable">lub nie została wcześniej zapisana jeśli jesteś w trybie offline.</p>
            <a class="nopage__button"
                  ng-href="/">Przejdź do strony głównej</a>
      </section>
</main>