<div class="geosilesia">
    <ul class="geosilesia__tabs"
        ng-if="::vm.component.tabs.length">
        <li class="geosilesia__tabs__item"
            ng-repeat="tabHeading in ::vm.component.tabs track by $index"
            ng-click="vm.setTab($index)"
            ng-class="{'geosilesia__tabs__item--selected' : vm.activeTab == $index}"
            ng-bind="tabHeading.title"></li>
    </ul>
    <div ng-if="::vm.component.tabs.length"
        class="geosilesia__field">
        <div ng-repeat="tab in ::vm.component.tabs track by $index"
            class="geosilesia__field__structure"
            ng-class="{'geosilesia__field__structure--active' : vm.activeTab === $index}">
            <div ng-repeat="row in ::tab.rows track by $index">
                <h3 ng-bind="::row.heading"
                    ng-if="::row.heading"
                    class="geosilesia__field__structure__heading"></h3>
                <p ng-if="::row.paragraphs.length"
                    ng-repeat="paragraph in ::row.paragraphs"
                    ng-bind="paragraph.paragraph"></p>
                <ul ng-if="::row.list.length"
                    class="default-list">
                    <li ng-repeat="item in ::row.list"
                        ng-bind="item.item"></li>
                </ul>
                <div ng-if="::row.image"
                    ng-class="::{'geosilesia__field__structure__segment' : row.image_footnotes.length}">
                    <figure class="geosilesia__field__structure__figure">
                        <img class="geosilesia__field__structure__figure__image"
                            alt=""
                            ng-src="{{::row.image}}">
                    </figure>
                    <ol ng-if="::row.image_footnotes"
                        class="geosilesia__field__structure__list">
                        <li ng-repeat="footnote in ::row.image_footnotes"
                            ng-bind="footnote.footnote"></li>
                    </ol>
                </div>
                <table ng-if="::row.table.length"
                    ng-repeat="table in ::row.table track by $index"
                    class="terrain-table">
                    <colgroup ng-repeat="colgroup in ::table.colgroups track by $index"
                        ng-attr-span="{{::colgroup.colgroup_span}}"></colgroup>
                    <tr ng-repeat="row in ::table.rows track by $index">
                        <th ng-repeat="header in ::row.header track by $index"
                            class="terrain-table__header"
                            ng-attr-rowspan="{{::header.rowspan}}"
                            ng-attr-colspan="{{::header.colspan}}"
                            ng-attr-scope="{{::header.scope}}"
                            ng-bind="::header.text">
                        </th>
                        <td ng-repeat="data in ::row.data track by $index"
                            ng-bind="data.text"
                            class="terrain-table__data"
                            ng-class="{'terrain-table__data--right' : $last}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>